/* styles.css */

/* Estilo para el cuerpo de la página */
body {
    font-family: Mononoki Nerd Font;
    margin: 0;
    padding: 0;
}

/* Estilo para los encabezados */
h1 {
    font-size: 48px;
    color: #8f0606;
    text-align: center;
    padding: 20px 0;
}

h2 {
    font-size: 36px;
    color: #06088f;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para las listas */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff6c;

    border-radius: 5px;
}

/* Estilo para los elementos de lista */
li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

/* Estilo para enlaces (opcional) */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
